.vscode
*.o
*.so
CMakeCache.txt
CMakeFiles
cmake_install.cmake
Makefile
examples/workers-single-factorial/workers-single-factorial
examples/workers-single-factorial-hctl/workers-single-factorial-hctl
examples/algotrading/broker
examples/algotrading/eval
examples/algotrading/exec
examples/algotrading/moneyman
examples/topology-load/topology-load
install_manifest.txt
doc
doxygen/breathe/build
