.vscode
*.o
*.so
*.a
CMakeCache.txt
CMakeFiles
cmake_install.cmake
Makefile
examples/workers-single-factorial/workers-single-factorial
examples/workers-single-factorial-hctl/workers-single-factorial-hctl
examples/algotrading/broker
examples/algotrading/eval
examples/algotrading/exec
examples/algotrading/moneyman
examples/topology-load/topology-load
examples/topology-fetch/topology-fetch
examples/http-gateway/http-gateway

examples/hello/hello
tests/tests
tests/n3rvtest.log
install_manifest.txt
doc
doxygen/breathe/build
