body {
font-family: "Open Sans",Arial,sans-serif!important;
background:#202020;
color:#888888;
font-size:15px;

}

a {
  text-decoration: none;
}

.header-menu  {
  text-align:right;
  padding-top:5px;
}

.header-common {
  background:#202020;
  padding:5px;
  box-shadow: 0px 1px 3px 0px #333333;
  position:absolute;
  top:0px;
  left:0px;
  width:100%;

}

.header-menu-common a:hover {
  color:#ff2a2a;
  text-decoration: none;
}

#header-logo  {
  margin-top:5px;
  margin-left:5px;
  height: 40px;
}

.bubble  {
  width:90px;
  height:90px;
  border-radius:50px;
  font-size:50px;
  text-align:center;
  padding:10px;
  margin-left:auto;
  margin-right:auto;
}

.bubble-purple {
  background:rgb(172,118,226);
}

.bubble-blue {
  background:rgb(114,201,219);
}

.bubble-green {
  background:rgb(185,237,73);
}

.bubble-text {
  text-align:left;
  color:white;
}

.footer-top {

  background:rgb(45,45,45);
  color:#cccccc;
  padding-top:5px;
  padding-bottom:5px;

}


.footer-bottom {

  background:rgb(23,23,23);
  color:#cccccc;
  padding-top:40px;
  padding-bottom:40px;

}


.top-shadow:before {
  display: block;
  top: 0px;
  clip: rect(-40px auto 0 auto);
}

.bottom-shadow:after {
  display: block;
  bottom: 0px;
  clip: rect(20px auto 40px auto);
}

.internal {
  text-decoration: none;
}

.reference {
  text-decoration: none;
}

.content-3 {
  width:100%;
  padding-top:40px;
  padding-bottom:40px;
  background:#333333;
  color:#55ddff!important;
  margin-top:10px;
}


.rst-content a {
  color:#55ddff!important;
}


.rst-content h1 {
 padding-bottom:30px;
 color:#55ddff;
}

.rst-content h2 {
  color: #cb2271;
  font-size:22px!important;
}

.rst-content h3 {
  font-size:16px!important;
  font-weight: bold!important;
  color:#ffdd55;
  
}

#doc-leftmenu {
  position:absolute;
  margin-top:30px;
}

#doc-leftmenu > ul > li {
  padding:10px;
  border-radius: 4px;
  background:#333333;
  margin-bottom:5px;
}

#doc-leftmenu ul li:hover {
  background:#404040;
}

#doc-leftmenu ul {
  list-style-type: none;
}

#doc-leftmenu ul li {
  padding-top:10px;
}

#doc-leftmenu ul li a {
  color:#78d94f;
}

#doc-leftmenu ul li a:hover {
  text-decoration: none;
}


.rqimg {
  margin-top:40px;
}

.highlight .cm {
  color:#78d94f;
}

.highlight .cp {
  color: #A71D5D;
}

.highlight .s {
  color: blue;

}

.highlight .kt {
  color: #0086B3;
}

.highlight .mi {
  color: #0086B3;
}

.highlight .k {
  color: #A71D5D;
}

.highlight .n {
  color: #55ddff;
}


.highlight {
  border:none!important;
}

.highlight pre{
  background:#333333!important;
  color:#ffdd55;
  border:none!important;
}


.doc-nav {
  background:rgb(45,45,45);
  padding:10px;
}

.doc-nav a{
  color:#cccccc;
}

.doc-nav li.active a, .doc-nav li.active a:hover {
  background:rgb(247,152,56);
}





